     <!-- Queue History -->
<div class="container p-2">
  <!-- Active Queue -->
  <div class="queuers-tableheaders">
    <h2>History</h2>
    <h3><%= @total_queuers.size %> guests</h3>
  </div>
</div>
<div>
  <% @total_queuers.each_with_index do | queue, index | %>
    <% if queue.status == "completed" %>
      <%= content_tag :div, id: dom_id(queue) do %>
        <div class="queuers-card-bg completed" <% if index.even? %>
              style="background-color: #eeeeee;"
              <% end %>>
          <div class="queuers-card container">
            <div class="queuer-index completed">
              <p><%= index + 1 %></p>
            </div>
            <div class="queuers-card-name">
              <p class="email"><%= queue.user.email %></p>
              <p class="reservation-name"><%= queue.reservation_name %></p>
            </div>
            <div class="queuers-card-size">
              <% if queue.size === 1 %>
                <p><span class="queuers-card-size-number"><%= queue.size %></span><span> Guest</p>
                <% else %>
                  <p><span class="queuers-card-size-number"><%= queue.size %></span> Guests</p>
                <% end %>
              </div>
              <div class="queuers-card-action">
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
</div>
