<div class="navbar navbar-expand-sm navbar-light navbar-main shadow sticky-top">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "navbar-icon.png" %>
  <% end %>

  <div class="navbar-right">
    <% if user_signed_in? %>
    <div text-align="center">
      <% if @Aqueuer.present? && @Aqueuer.restaurant.present? %>
          <%= link_to "Current Queue", queuers_path(@user), class: "user-queue queued"%>
      <% else %>
        <div class="user-queue notqueued" disabled>
          You have not queued yet
        </div>
      <% end %>
    </div>

    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background: white;">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><title>menu</title><g fill="none"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" fill="#212121"></path></g></svg>    </button>
      <ul class="dropdown-menu dropdown-menu-end nav-img" aria-labelledby="dropdownMenuButton1">
        <h3>ようこそ！</h3>
        <li><p class="dropdown-item"><%= current_user.email %></p></li>
        <li><p class="dropdown-item text-decoration-none" ><%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "text-decoration-none"%></p></li>
      </ul>
    </div>
  <% else %>
    <div>
        <%= link_to "Sign In", new_user_session_path, class: "button signin" %>
        <%= link_to "Sign Up",  new_user_registration_path, class: "button signup" %>
    </div>
  <% end %>
  </div>
</div>
