<section>
  <h3>Search on Map</h3>

    <div style="width: 100%; height: 550px; overflow:hidden; border-radius: 10px ;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

</section>

<section data-controller="nearrestaurants">
  <h3>Restaurants near you</h3>
  <label for="restaurantRange" class="form-label">Max. distance from your location:</label>
  <input type="range" class="form-range" min="0" max="1000" step="5" id="restaurantRange" data-action="change->nearrestaurants#getRestaurants">

  <div class="restaurants-wrapper" data-nearrestaurants-target="nearyou">
  </div>

</section>

<section>
  <h3>Restaurants in Tokyo</h3>
  <h4><%= Time.now %></h4>
  <!-- Flexbox wrapper for restaurant cards -->
  <div class="restaurants-wrapper">
    <% @restaurants.each do |restaurant| %>  <!--Start iteration -->
      <%= render "restaurant_card", restaurant: restaurant %>
      <%= render "shared/modal", restaurant: restaurant, modal_id: "restaurant-modal-#{restaurant.id}" %>
    <% end %>
  </div>

</section>
