<section>
  <h3>Recommended Restaurants</h3>
  <!-- Flexbox wrapper for restaurant cards -->
  <div class="restaurants-wrapper">

    <% @recommended_restaurants.each do |restaurant| %>  <!--Start iteration -->
    <div class="card-base card-restaurant">
      <a href="<%=restaurant_path(restaurant)%>">
        <div class="card-restaurant-thumbnail"
              <% if restaurant.photos.attached? %>
                style="height: 100px; background-image: url('<%= cl_image_path restaurant.photos.first.key  %>')"
              <% else %>
                style="height: 100px; background-image: url('https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80')"
              <% end %>>
        </div>
        </a>
        <div class="card-restaurant-content">

          <div class="card-restaurant-details">
          <span class="card-restaurant-category"><%= restaurant.category %></span>
            <div class="card-restaurant-details-top">
              <span class="card-restaurant-title"><%= restaurant.name %></span>
              <span class="card-restaurant-budget"><%= restaurant.price_range %></span>
            </div>

          </div>

          <div class="card-restaurant-actions">
            <div class="card-restaurant-icon-small">
              <span class="card-restaurant-icon-number"><%= restaurant.queuers.where(status: "queuing").count %></span>
              <span class="card-restaurant-icon-subtitle">waiting</span>
            </div>
            <div class="card-restaurant-icon-small">
              <span class="card-restaurant-icon-number"><%= restaurant.total_wait_time %></span>
              <span class="card-restaurant-icon-subtitle">mins</span>
            </div>

            <!-- Join Queue Button -->
            <% case restaurant.current_status %>
            <% when Restaurant::STATUS[0] %>
              <div class="card-restaurant-icon-big">
                <%= Restaurant::MSG[0] %>
              </div>
            <% when Restaurant::STATUS[1] %>
              <div class="card-restaurant-icon-big">
                <%= Restaurant::MSG[1] %>
              </div>
            <% when Restaurant::STATUS[2] %>
              <div class="card-restaurant-icon-big">
                <%= Restaurant::MSG[2] %> ( <%= restaurant.open_time%> ~ <%= restaurant.close_time %> )
              </div>
            <% when Restaurant::STATUS[3] %>
              <%= link_to 'Join Queue', new_restaurant_queuer_path(restaurant), class: "card-restaurant-icon-big" %>
            <% else %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %> <!-- End iteration -->
    </div>
</section>
