<!-- Different page if you are an owner -->
<% if current_user.id == @restaurant.user_id %>
<p>this is yours</p>
<%= link_to queuers_path() do %>
  <p>See Queuer information</p>
  <% end  %>
<% else %>
<!-- Default Page -->
<div class="d-flex align-items-center justify-content-between mb-3 pt-5">
  <div class="text-decoration-none">
    <%= link_to "Back", root_path, class: "btn-pink" %>
  </div>
</div>

<div class="container mb-6">
  <% if  @restaurant.nil? == false %>
    <div class="d-flex flex-column">
      <div>
      </div>
      <div class="d-flex pb-4">
        <div class="flex-fill mx-4">
          <div class="card-title pt-3">
            <h1 class="fw-bold"><%= @restaurant.name %></h1>
          </div>
          <div class="card-title border-bottom d-flex justify-content-between">
            <p class="fs-7 fst-italic"><%= @restaurant.address %></p>
            <p class="fs-7 fst-italic"><%= @restaurant.price_range %></p>
          </div>
            <!-- Restaurant Categories and information cards -->
          <%= render "category" %>

          <div class="listing-show-text card-subtitle status pt-4">
            <p class="fs-5"><%= @restaurant.category %></p>
          </div>
          <%= @restaurant.description %>
        </div>
        <% case @restaurant.status %>
        <% when Restaurant::STATUS[0] %>
          <%= Restaurant::MSG[0] %>
        <% when Restaurant::STATUS[1] %>
          <%= Restaurant::MSG[1] %>
        <% when Restaurant::STATUS[2] %>
          <%= Restaurant::MSG[2] %> ( <%= @restaurant.open_time%> ~ <%= @restaurant.close_time %> )
        <% when Restaurant::STATUS[3] %>
          <%= link_to new_restaurant_queuer_path(@restaurant), class:"text-decoration-none" do %>
              <div>Join the Queue</div>
          <% end %>
        <% else %>
          Invalid Restaurant STATUS (<%= @restaurant.status %>)
        <% end %>
        <%# <%= render "bookings/form", booking: @booking %>
      </div>
    </div>

    <% else %>
      No item found for ID <%= @restaurant_id %>
  <% end %>

  <!-- Recommended Restaurants  -->
  <%= render "restaurants/recommended_restaurants" %>

  <!-- Reviews  -->
  <%= render "reviews/reviews", review: @review %>

</div>
</div>
<% end %>
