<h2 class="fw-bold">Reviews for <%= @restaurant.name %></h2>
  <% if @restaurant.reviews.count == 0 %>
    <p class="pt-3 fst-italic">No reviews yet</p>
    <h2 class="fw-bold">Be the first one to leave a review for <%= @restaurant.name %></h2>
    <%= simple_form_for [@restaurant, @review] do |f| %>
      <%= f.input :content, as: :text, label: false %>
      <%= f.submit 'Submit', class: "" %>
    <% end %>
  <% else %>
    <% @restaurant.reviews.order(created_at: :desc).each do |review| %>
    <div>
      <p id="reviews" class="pt-3 fst-italic"><i class="fas fa-quote-left fas-2x"></i> <%= review.content %></p>
    </div>
    <% end %>
    <h2 class="fw-bold">Add a review for <%= @restaurant.name %></h2>
    <%= simple_form_for [@restaurant, @review] do |f| %>
      <%= f.input :content, as: :text, label: false %>
      <%= f.submit 'Submit', class: "btn btn-primary" %>
    <% end %>
  <% end %>
