<% if restaurant.reviews.count == 0 %>
  <h2 class="fw-bold">Reviews for <%= restaurant.name %></h2>
  <p class="pt-3 fst-italic">No reviews yet</p>
  <!--- Review Form -->
  <h2 class="fw-bold">Be the first one to leave a review for <%= restaurant.name %></h2>
  <%= simple_form_for [restaurant, review] do |f| %>
    <%= f.input :content, as: :text, label: false %>
    <%= f.submit 'Submit', class: "btn btn-primary" %>
  <% end %>
<% else %>
  <!--- Review Form -->
  <h2 class="fw-bold">Add a Review for <%= restaurant.name %></h2>
  <%= simple_form_for [restaurant, review] do |f| %>
    <%= f.input :content, as: :text, label: false %>
    <%= f.submit 'Submit', class: "btn btn-primary" %>
  <% end %>
  <!--- Review List -->
  <% restaurant.reviews.order(created_at: :desc).each do |review| %>
    <div>
      <p id="reviews" class="pt-3 fst-italic"><i class="fas fa-quote-left fas-2x"></i>
        <%= review.content %>
      </p>
    </div>
  <% end %>
<% end %>
