<p>You successfully joined the queue for <%= @restaurant.name %>!</p>
<h3>
Your queue details:<br>
</h3>
<p>Name: <%= @queuer.reservation_name %></p>
<p>Email: <%= @queuer.user.email %></p>
<p>Party Size: <%= @queuer.size %></p>
<p>Place in the queue: <%= %></p>
<p>Wait Time: <%=  %></p>
<p>
